@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main {
    max-width: 600px;
    width: 90%;
    border-radius: 15px;
    background-color: #08395f;
}

.top{
    height: 60px;
    background-color: #424242;
    color: whitesmoke; 
    padding: 10px;
    border-radius: 15px 15px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}

.header {    
    color: whitesmoke;
    font-size: 25px;
    margin: 10px 0px 0px 10px;
    font-family: 'Recursive', sans-serif;
    height: 100%;
}

.button{
    width: 35px;
    height: 35px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: calc(15px + 1vw);
    font-weight: 600;
}

.temp{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: calc(10px + 1.1vw);
}

.sunrise-sunset{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: calc(10px + 0.9vw);
}

.description{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}