.App {
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
  overflow-y: hidden;
}


